/*
    Author: Arham Islam
    Date Created: February 22, 2024
    File Description: CSS file for styling.
*/

/* IMPORTING FONT(S) */
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

/* CREATING THE FAVICON */
.fit {
    margin-left: 0.6vw;
    font-size: 18vw;
    color: white;
    -webkit-text-stroke: 0.75vw black;
}

.fitBox {
    width: 400px;
    height: 400px;
    background-color: #6610f2;
}

/* CUSTOMIZING HTML ELEMENTS */
body {
    background-color: #f5f5f5;
}

p {
    margin: 0vw;
}

/* TESTING CLASSES TO SEE WHAT THE CONTAINER IS COVERING */
.testing1 {
    background-color: teal;
}

.testing2 {
    background-color: deepskyblue;
}

.testing3 {
    background-color: coral;
}

/* CUSTOM CLASSES */
.text {
    font-family: "Concert One", serif;
}

.purpleBackground {
    background-color: #6610f2;
}

.navHomeMy {
    padding-right: 3px;
    font-size: 30px;
    color: white;
    -webkit-text-stroke: 2px black;
}

.navHomeFitness {
    font-size: 30px;
    color: black;
}

.whiteText {
    color: white;
}

.headerImage {
    background-image: url("pictures/pexels-victor-freitas-841130.jpg");
    background-color: rgba(255, 255, 255, 0.3);
    background-blend-mode: lighten;
    background-size: cover;
}

.headerLogo {
    height: 100vh;
}

.logoMy {
    padding-right: 0.5vw;
    font-size: 6.5vw;
    color: white;
    -webkit-text-stroke: 0.25vw #6610f2;
}

.logoFitness {
    font-size: 6.5vw;
    color: #6610f2;
}

.logoShortStrapline {
    font-size: 1.65vw;
    color: black;
}

.sectionVP {
    height: 94.5vh;
}

.featureSize {
    width: 300px;
    height: 300px;
}

.redText {
    color: red;
}

.blackText {
    color: black;
}

.logo {
    height: 85vh;
}

.loginBox {
    background-color: white;
    width: 385px;
    height: 425px;
    margin-top: 140px;
    padding-top: 0px;
}

.forgotPassword:link {
    color: #6C757D;
}

.forgotPassword:visited {
    color: #6C757D;
}

.forgotPassword:active {
    color: black;
}

.signUp:link {
    color: #6610f2;
}

.signUp:visited {
    color: #6610f2;
}

.signUp:active {
    color: black;
}

#incorrectLoginInfoAlert {
    display: none;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 768px) {
    .logoMy {
        padding-right: 7.5px;
        font-size: 75px;
        -webkit-text-stroke: 3.75px #6610f2;
    }
    
    .logoFitness {
        font-size: 75px;
    }
    
    .logoShortStrapline {
        font-size: 24px;
    }

    .loginBox {
        background-color: white;
        width: 300px;
        height: 425px;
        margin-top: 0px;
        padding-top: 0px;
    }
}
